@import url(https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300);
image href="coffee_beans-620x200.jpg.html"

image {
  margin-top: 3px;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 220px;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: #F8F8F8;
}
section h1 {
  font-size: 65px;
  font-weight: 300;
  margin-top: 200px;
  color:  black;}
/*Navigation*/
nav {
  width: 100%;
}
nav ul {
list-style-type: none;
margin-top: 150px;
padding: 0;
overflow: hidden;
background-color: #333;
}

nav li {
float: left;
}

nav a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
nav a:hover {
background-color: gray;
}

/*containers and multi-column layout*/
.container {
  margin: 10px;
  background-color: gray;
}
.row {
  width: 100%;
  margin-bottom: 20px;
  display: block;
}
.container::after, .row::after {
  clear: both;
  display: block;
  content: "";
}
.col {
    float: left;
    display: inline-block;
}

.col:last-child {
    margin: 0;
}

.col-3 {
    width: 100%;
    margin-right: 0;
}
